$color-background: #838D99;
$color-primary: #B7BECC;
$color-secondary: #B7BECC;
$color-error: red;
$color-success: green;
$color-white: #fcfff5;
$color-black: #000;
$color-lightgrey: #d1dbbd;

$pad: 0.5em;
$font-sans: Impact;
$font-serif: Helvetica;
