.category-item {
  width: 450px;
  height: 100vh;
  // border: 1px solid green;
  float: left;
}

.dropzone-container {
  height:100%;
  width:100%;
}

h1 {
  font-family: 'Playfair Display';
}

.dashboard-container {
  margin-bottom: 4em;
}
