@import "../../style/_vars.scss";

.expense-form {
  margin: 1%;
}
.expense-form input[name='expenseName'] {
    width: 55%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px;
    margin-left: 1px;
    font-size: .8em;
}
.expense-form input[name='price'] {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px;
    margin-left: 1px;
    font-size: .8em;
}
.expense-submit-button {
  display: inline-block;
  width: auto;
  float: right;
  padding-right: 15px;
  padding-top: 3px;
}
.expense-form-update {
  margin: 1%;
}
.expense-form-update input[name='expenseName'] {
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  font-size: .8em;
}
.expense-form-update input[name='price'] {
  width: 70%;
  margin-top: 5px;
  margin-left: 15px;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  font-size: .8em;
}
.expense-update-submit-button {
  width: auto;
  float: right;
  padding-right: 18px;
  padding-top: 8px;
}
