$color-primary: #00a388;
$color-secondary: #79bd8f;
$color-third: #beeb9f;
$color-error: #ff6138;
$color-success: #00a388s;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #e1e6fa;
$color-grey: #c4d7ed;
$color-darkgrey: #abc8e2;

$pad: 0.5em;

$font-sansserif: Helvetica, sans-serif;
$font-monospace: monospace;
