//set variables for a color palette
$color-green: #33CC66;
$color-red: #FF0000;
$color-lightblue: #CCFFFF;
$color-lightgrey: #AFAFAF;
$color-darkgrey: #494949;
$color-black: #000;
$color-white: #fff;


//add padding var
$pad: 0.5em;

//add a font var
$font-aviner: avenir;
$font-monospace: monospace;
