$color-primary: #FFF7E6;
$color-secondary: #B3C5DF;
$color-error: red;
$color-success: green;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #aaa;
$color-grey: #777;
$color-darkgrey: #444;

$pad: 0.5em;

$font-sansserif: sans-serif;
$font-monospace: monospace;
