@import "../../style/main.scss";

textarea, input {
padding: $pad;
border: 1px solid $color-lightgrey;
float: left;

&::placeholder {
  color: $color-lightgrey;
  }
}

.category-item {
  border: solid #FFA54F;
  width: 250px;
}

.category-content {
  padding: $pad;
  margin-top: $pad * 2;
  font-size: 1em;
  border: solid #b2ffb2;
}
