* {
  position: static;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  white-space: normal;
  color: #000;
  list-style: none;
}

form *:focus {
  border: none;
  outline: none;
}

html, body {
  position: relative;
}

body * {
  display: block;
}

script,link {
  display: none;
}
