* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  width: 100%;
  background: none;
  color: black;
  list-style: none;
  text-align: left;
}

html, body {
  height: 100%;
}
