// Colors
$primary: darkred;
$secondary: #BFB9B5;
$tertiary: #5C5C5C;
$black: #000000;
$gray: #aaaaaa;
$light-gray: #d4d4d4;
$dark-gray: #878787;

// Fonts
$font-headings: Nevis, sans-serif;
$font-bodies: Times New Roman, serif;
