
.category-item {
  float: left;
  width: 250px;
  height: 100%;
  border: 1px solid black;
}

.dashboard-container {
    background: #0f0;
}

.dropzone {
  height: 100%;
  width: 100%;
  background: pink;
}

.drop-ready {
  background: #0f0;
}
